pre {
    height: 75vh;
    width: 100%;
    display: block;
    overflow: auto;
    background-color: #f8f9fa;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    max-height: 80vh;
}
.container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 100vh;
}
.lyrics {
    white-space: pre-wrap;
    font-family: inherit;

    .chord {
        color: red;
        font-weight: bold;
    }
}

:host {
    display: flex;
    justify-content: center;
    max-height: 90vh;
}
