<div class="container my-5">
  <!-- Título -->
  <div class="text-center mb-4">
    <img src="assets/logo iglesia blanco.png" class="img-fluid" alt="logo" style="max-width: 40vw;">
    <h2 class="display-4 text-primary">Lista de Canciones</h2>
    <p class="lead text-secondary">Semana Santa 2025</p>
    <p class="lead text-secondary">{{this.diaSemana}} Santo</p>
  </div>

  <!-- Botón para agregar canción (solo si está logueado) -->
  <div class="text-end mb-3" *ngIf="isLoggedIn">
    <button class="btn btn-success" (click)="goToCreateSong()">Agregar Canción</button>
  </div>
  <div class="text-end mb-3" *ngIf="isLoggedIn">
    <button class="btn btn-success" (click)="showAll()">Mostrar Todo</button>
  </div>
  <div class="text-end mb-3" *ngIf="!isLoggedIn">
    <button class="btn btn-outline-primary btn-sm" (click)="goToLogin()">
      <i class="bi bi-box-arrow-in-right"></i> <!-- Ícono de Bootstrap Icons -->
    </button>
  </div>

  <!-- Lista de canciones -->
  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <li *ngFor="let song of songs; let i = index" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex flex-column flex-grow-1">
            <span class="fw-bold">
              {{ song.title }}
              <!-- Badge de "Comodín" para las últimas dos canciones -->
              <span *ngIf="song.comodin" class="badge bg-warning text-dark ms-2">Comodín</span>
              <!-- Badge de "Ofrenda" si el título incluye la palabra "Ofrenda" -->
              <span *ngIf="song.ofrenda" class="badge bg-info text-dark ms-2">Ofrenda</span>
            </span>
            <span class="text-muted">{{ song.author }}</span>
          </div>
          <div class="d-flex">
            <!-- Botón para ver acordes -->
            <button class="btn btn-primary btn-sm ms-3" (click)="goToSong(song)">Ver Acordes</button>
            <!-- Botón para editar canción -->
            <button *ngIf="isLoggedIn" class="btn btn-warning btn-sm ms-2" (click)="goToEditSong(song)">Editar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>